#idAgendar{
    color: azure;
    text-decoration: none;
    font-size: 1rem;
}
.geral {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 38rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.dadosa2{
    display: flex;
    background-color: #ECECEC;
    border-color: #000000;
    border-radius: 0.6rem ;
    padding: .5rem 1rem .5rem 1rem;
    gap:2.5rem;
    width: 100%;
    box-sizing: border-box;
}
.botao{
    background-color: #5EC5DC;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 0.6rem ;
    padding: .5rem 1rem .5rem 1rem;
    width: 28.5rem;
}